<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Upload</title>
    <link rel="icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css"/>
</head>
<script type="text/javascript" src="static/js/main.js"></script>
<script type="text/javascript" src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<body>
<div class="mdui-container-fluid">
    <div class="mdui-card mdui-center card">
        <div class="mdui-card-media">
            <button class="mdui-btn mdui-color-green-600 mdui-ripple mdui-center but">{{content.data}}</button>
            <div class="mdui-box">

                <input class="mdui-center" id="file1" type="file" accept=".jpg,.jpeg,.png"></input>
                <input class="mdui-center" id="file2" type="file" accept=".jpg,.jpeg,.png"></input>
                <input class="mdui-center" id="file3" type="file" accept=".jpg,.jpeg,.png"></input>

            </div>
            <br>
            <br>
            <button class="mdui-btn mdui-color-blue-600 mdui-ripple mdui-center add" id="upload">
                <i class="mdui-icon material-icons">cloud_upload</i> 上传
            </button>
        </div>
    </div>
</div>
</body>
<script>
    $("#upload").click(function () {
        var form = new FormData();
        form.append('file', $('#file1')[0].files[0]);
        form.append('file', $('#file2')[0].files[0]);
        form.append('file', $('#file3')[0].files[0]);
        if ($('#file1')[0].files[0] != null && $('#file2')[0].files[0] != null && $('#file3')[0].files[0] != null) {
            $.ajax({
                type: "POST", //有form表单数据必须post
                url: "/uploads",
                data: form,
                dataType: 'JSON',
                cache: false,                      // 不缓存
                processData: false,                // jQuery不要去处理发送的数据
                contentType: false,                // jQuery不要去设置Content-Type请求头
                success: function (ret) {
                    console.log(ret);
                    if (ret.code == 200) {
                        mdui.dialog({
                            title: ret.msg,
                            content: ret.data[0] + "\n" + ret.data[1] + "\n" + ret.data[2],
                            buttons: [
                                {
                                    text: '确认',
                                }
                            ]
                        });
                    } else {
                        mdui.snackbar({
                            message: ret.msg
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(textStatus);
                }
            });
        } else {
            mdui.snackbar({
                message: "文件不能为空"
            });
        }
    });



</script>

</html>